body {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 720px;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.controls input {
  width: auto;
  font-size: 20px;
  padding: 8px 16px;
}

.generate-button {
  margin-left: auto;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  background-color: steelblue;
  color: white;
  border: none;
  border-radius: 4px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  display: flex;
  padding: 16px;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 12px 2px #999999;
  gap: 8px;
}

li .beacon-name input {
  font-weight: bold;
  font-size: 24px;
  border: none;
  margin-bottom: 8px;
}

li .beacon-name input:hover {
  background-color: #eee;
}

li .status {
  margin-left: auto;
}

li button {
  border-radius: 100%;
  border: none;
}
